#contact > div > div > div > p > a {
  color: black;
}

#contact > div > div > div > p > a:hover {
  color: #acb8b5;
}

#page-top > header > div > div > p {
  font-size: 22px;
}

#page-top > header > div > div > h1 {
  font-size: 80px !important;
  color: rgba(255,255,255,0.8);
}

#about > div > div > div > a {
  color: #acb8b5;
}

#services > div:nth-child(2) > div > div:nth-child(4) > div {
  margin-top: 3em;
}

#services > div:nth-child(2) > div > div:nth-child(3) > div {
  margin-top: 3em;
}


#services > p {
  margin-top: 3em;
  margin-bottom: -2em;
}

#services > div:nth-child(1) > div > div > h2 {
  margin-top: -1.5em;
  margin-bottom: -0.5em;
  font-size: 36px;
}

#services > div:nth-child(2) {
  margin-top: -2em;
  padding-top: -1em;
}


#portfolio > div > div:nth-child(1) > div > h2 {
  font-size: 36px;
  margin-top: 1em;
  margin-bottom: -0.4em;
}

#portfolio > div > div:nth-child(1) > div > h3 {
  margin-bottom: 1.8em;
  font-size: 22px;
}


#portfolio > div > div:nth-child(2) > div > a > img {
  width: 293px;
  height: 162px;
}

#portfolio > div > div:nth-child(2) > div > div > h4 {
  margin-bottom: 2em;
}


#portfolio > div > div > div > a > div > div > div.project-name {
  font-size: 24px;
  margin-bottom: 0.5em;
}

#portfolio > div > div:nth-child(2) > div > a > div > div > div {
  font-size: 12px;
}

#portfolio > div > div:nth-child(2) > div > div > h4 > span > a > i {
  color: black;
}

#portfolio > div > div:nth-child(2) > div > div > h4 > span > a > i:hover {
  color: #acb8b5;
}

#portfolio > div > div:nth-child(2) > div > a > div  {
  width: 293px !important;
}


#mainNav {
  color: white;
}

#about > div > div > div > img {
  border-radius: 80px;
  height: 160px;
  width: 160px;
  margin-bottom: 3em;
  margin-top: -4em;
}

#contact > div > div > div.col-lg-8.col-lg-offset-2.text-center > h2 {
  margin-top: -1em;
}

footer {
    width: 100%;
    height: 75px;
    background-color: #fff;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer > h3 {
    color: #acb8b5;
    font-weight: 700;
}

.footer-icons {
  margin-top: 1em;
}

#contact > footer > div > a > i {
  color: black;
}

#contact > footer > div > a > i:hover {
  color: #acb8b5;
}

@media screen and (max-width: 400px) {
  #portfolio > div > div:nth-child(2) > div > a > div > div > div {
  margin-top: -5em;
}
}
